.uza_header_options{
   display: block;
}

.header_image_preview{
   margin-top: 20px;
   border: 1px solid #eee;
   max-width: 30%;
   object-fit: cover;
   img{
      max-width: inherit;
      object-fit: cover;
   }
}
