.flex{
  display: flex;
  flex-wrap: wrap;
}

.align_horizontal{
  align-items: center;
}

.align_vertical{
  justify-content: center;
}

.customize-control-radio .customize-control-title{
   background-color: #fff;
}
