.slider_wrapper{
   .admin_slider_post_select{
      padding: 10px 0px;
      label{
         display: block;
      }
      select{
         display: block;
      }
   }
   .admin_slider_post_type_select{
      padding: 10px 0px;
      label{
         display: block;
      }
      select{
         display: block;
      }
   }
   .admin_slider_button_text{
      .admin_slider_setting_div{
         display: inline-block;
         width: 45%;
      }

      .trigger{
         border: 1px solid #eee;
         padding: 10px;
         span{
            font-weight: bold;
            cursor: pointer;
         }
      }
      .admin_slider_button_text_div{
         padding: 10px 10px;
         margin-right: 20px;

         label{
            display: block;
         }
      }
   }
   .admin_slider_colors{
      padding: 10px 0px;
      label{
         display: block;
      }
      select{
      }
   }
}
