.slider_wrapper{
   padding: 20px 0;
}
.welcome-area-admin{
   width: 100%;
   height: 300px;
   padding: 20px;
   border: 1px solid #eee;
   position: relative;
   .admin_slider_bgc{
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
      position: absolute;
   }
   .welcome_area_admin_container{
      width: 100%;
      .background-curve{
         position: absolute;
         top: 0;
         left: 35%;
         img{
            max-width: 100%;
         }
      }
   }
  .welcome_area_content{
     min-width: 100%;
      .welcome_area_text_container{
         // border: 1px solid #333;
         .welcome_text{
            padding: 20px 0px;
            .welcom_text_title{
               font-size: 16px;
            }
            h5{
               font-size: 10px;
            }
            .btn {
               display: block;
               font-weight: 400;
               text-align: center;
               white-space: nowrap;
               vertical-align: middle;
               -webkit-user-select: none;
               -moz-user-select: none;
               -ms-user-select: none;
               user-select: none;
               border: 1px solid transparent;
               // padding: .375rem .75rem;
               font-size: 1rem;
               // line-height: 1.5;
               border-radius: .25rem;
               transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
            .uza-btn {
               position: relative;
               z-index: 1;
               min-width: 80px;
               font-size: 10px;
               font-weight: 600;
               display: inline-block;
               padding: 5px 10px;
               text-align: center;
               text-transform: capitalize;
               color: #1583e9;
               border: none;
               border-radius: 50px;
               background-color: #ffffff;
               -webkit-transition-duration: 500ms;
               -o-transition-duration: 500ms;
               transition-duration: 500ms;
               -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
               box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
            }
            .btn-2 {
               background-color: #1583e9;
               color: #ffffff;
            }
         }
      }
      .welcome_area_image_container{
         // border: 1px solid #333;

         .welcome_thumbnail{
            img{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-width: 80%;
            }
         }
      }
   }
}
